{% extends 'ProyectoPlopApp/header.html' %}

{% load static %}

{% block contenidoPagina %}
<div class="container-fluid bg-dark">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <div class="container-fluid d-flex">
            <div class="col-4">
              <a class="navbar-brand me-2" href="{% url 'inicio' %}">
                <img src="{{url}}" height="55" alt="MDB Logo" loading="lazy" style="margin-top: -1px;" />
              </a>
            </div>
            <div class="col-8 col-md-6" id="navbarTogglerDemo02">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>
              <form method="Get" enctype="multipart/form-data">
                <div class="input text-center">
                  <div class="form-outline">
                    <input type="search" id="buscar" name="buscar" class="form-control" style="width: 100%;"
                      placeholder="Buscar evento" />
                  </div>
                </div>
              </form>
              
            </div>
          </div>
          {% if user.is_authenticated %}
          <li>
            <div class="dropdown">
              <button class="btn btn-dark text-white dropdown-toggle my-1" type="button" id="dropdownMenuButton2"
                data-bs-toggle="dropdown" aria-expanded="false">
                Perfil Admin
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'panel' 'evento'  %}">Panel de Admin </a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'logout_request' %}">Logout</a></li>
              </ul>
            </div>
          </li>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="mt-5">
   {% if messages %}
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
</div>
<iframe class="mt-3 d-block d-sm-none" style="border-radius:12px"
  src="https://open.spotify.com/embed/playlist/5aNa1Ipk5AZwzU8CMyNaat?utm_source=generator" width="100%" height="80"
  frameBorder="0" allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
<section class=" d-none d-sm-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <iframe class="mt-3" style="border-radius:12px"
          src="https://open.spotify.com/embed/playlist/5aNa1Ipk5AZwzU8CMyNaat?utm_source=generator" width="50%"
          height="80" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </div>
    </div>
  </div>
</section>
<section>
  {% if buscador %}
  <div class="container">
    <div class="row justify-content-center justify-content-md-start  ">
      {% for obj in buscador %}
      <div class="col-9 col-md-4 mt-4">
        <div class="card bg-dark text-white card-circular sombra card-shadow">
          <img src="{{obj.imagen.url}}" class="card-circular cropped" alt="Stony Beach" />
          <div class="card-img-overlay content">
            <h1 class="card-title h4 mt-4">{{obj.lugar}}</h1>
            <a href="{{obj.link_compra}}" class="btn btn-outline-light">Compra tu entrada</a>
            <div class="d-flex mt-4 text-white">
              <a href=""  class="fo" style="color: white;">
                <i class="fa-brands fa-instagram-square h3"></i>
              </a>
              <a href=""  class="fo" style="color: white;">
                <i class="fa-brands fa-facebook-square ms-3 h3"></i>
              </a>
              <a href="" class="fo" style="color: white;">
                <i class="fa-brands fa-spotify ms-3 h3 "></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="container">
        <div class="row justify-content-center justify-content-md-start ">
          {% for obj in eventos %}
          <div class="col-9 col-md-4 mt-4">
            <div class="card bg-dark text-white card-circular sombra card-shadow">
              <img src="{{obj.imagen.url}}" class="card-circular cropped" alt="Stony Beach" />
              <div class="card-img-overlay content">
                <h1 class="card-title h4 mt-4">{{obj.lugar}}</h1>
                {% if obj.detalle == False %}
                <a href="{{obj.link_compra}}" class="btn btn-outline-light">Compra tu entrada</a>
                {% else %}
                <a href="{% url 'detalle_evento' obj.id %}" class="btn btn-outline-light">Busca tu foto</a>
                {% endif %}
                <div class="d-flex mt-4">
                  <a href=""  class="fo" style="color: white;">
                    <i class="fa-brands fa-instagram-square h3"></i>
                  </a>
                  <a href=""  class="fo" style="color: white;">
                    <i class="fa-brands fa-facebook-square ms-3 h3"></i>
                  </a>
                  <a href="" class="fo" style="color: white;">
                    <i class="fa-brands fa-spotify ms-3 h3 "></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
</section>
<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-6 text-center">
      <a href="{% url 'home' numero %}" class="btn btn-outline-light px-3 px-md-5 mt-5 link">Ver Mas</a>
    </div>
  </div>
</div>


{% endblock %}